#outer-div {
    width: 100%;
    text-align: center;
}
  
#inner-div {
    display: inline-block;
    padding-top : 0.5%;
    padding-bottom : 0.5%;
}

#search-tools {
    padding: 0.7%;
    padding-right: 2%;
}

#magazineBox {
	min-height: 400px;
}

