<div>
  <div class="row gap-top-sm" id="search-box">
      <div class="col-lg-1"></div>
      <div class="col-lg-9">
          <div class="card card-block bg-faded blue-bg1">
              <div id="search-tools">
                  <div class="row">
                      <input type="text" class="form-control col-lg-9" [(ngModel)]="searchInput" />
                      <div class="col-lg-3">
                          <button class="btn btn-light btn-circle-sm right-items gap-left" (click)="clearSearch()" title="Ocisti parametre pretrage"><i class="fas fa-broom"></i></button>
                          <button class="btn btn-light btn-circle-sm right-items gap-left" (click)="executeAdvancedSearch()" title="Napredna pretraga"><i class="fas fa-cogs"></i></button>
                          <button class="btn btn-light btn-circle-sm right-items" (click)="executeSearch()" title="Pretrazi"><i class="fas fa-search"></i></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row gap-top-sm" id="resultBox">
    <div class="col-lg-1"></div>
    <div class="col-lg-9" id="magazineBox">
      <div class="gap-top-sm" *ngFor="let theResult of results">
        <app-result-view [theResult]="theResult"></app-result-view>
      </div>
    </div>
  </div>

  <div class="row gap-top-sm" *ngIf="results && results.length > 0">
    <div class="col-lg-1"></div>
    <div class="col-lg-9 card card-block bg-faded blue-bg1" id="outer-div">
      <div class="container" id="inner-div">
          <button class="btn btn-light btn-sm" (click)="prev()" [disabled]="pageNum <= 1">&lt;</button>
          <button class="btn btn-light btn-sm">{{pageNum}}</button>
          <button class="btn btn-light btn-sm" (click)="next()" [disabled]="isLast">&gt;</button>
      </div>
    </div>
  </div>

</div>