#htmlPanel{
	font-style: italic;
	margin-top: 2%;
	font-size: 0.85em;
	color: #3c425c;
	font-weight: 600;
}

p{
	font-style: italic;
	margin-left: 2%;
	font-size: 0.85em;
	color: #3c425c;
	font-weight: 600;
}

#whitePanel {
    background: #ffffff;
    min-height: 75%;
}

#magazineBox {
	min-height: 500px;
}

label{
	width: 100%;
	margin-top: 1%;
	margin-left: 1%;
	font-size: 0.9em;
	color: #3c425c;
    font-weight: 700;
}

.moreLikeThis {
	background-color: #788993;
	border: .3em solid #788993;
	color: #ffffff;
}

.moreLikeThis:hover {
	color:#ffffff;
    background-color: #788993;
	text-decoration: none;
	border-color: #9cb0bb;
	
}
.moreLikeThis:visited {
	color:#ffffff;
    background-color: #788993;
	text-decoration: none;
}

