body {
    background-color: #ebeee7;
}

.gap-top-sm {
    margin-top: 1%;
}

.gap-top-md {
    margin-top: 3%;
}

.gap-top-lg {
    margin-top: 5%;
}

.title-text-md{
    color: #3c425c;
    font-size: 22px;
}

.title-text-lg{
    color: #3c425c;
    font-size: 28px;
    font-weight: 700;
}

.blue-bg1 {
    background: #909da5;
}

.olive-bg1{
    background: #c0bc8d;
}

.white-bg1{
    background: #f3f6f7;
}

.peach-bg1{
    background: #ffebb3;
}

.div-padding-sm {
    padding : 0.5%;
}

.orange-circle-button {
	box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
	border: .5em solid #788993;
	font-size: 1em;
	line-height: 1.1em;
	color: #ffffff;
	background-color: #788993;
	margin: auto;
	border-radius: 50%;
	height: 7em;
	width: 7em;
    position: relative;
    display:block;
}
.orange-circle-button:hover {
	color:#ffffff;
    background-color: #788993;
	text-decoration: none;
	border-color: #9cb0bb;
	
}
.orange-circle-button:visited {
	color:#ffffff;
    background-color: #788993;
	text-decoration: none;
	
}
.orange-circle-link-greater-than {
    font-size: 1em;
}

.btn-circle-sm {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle-md {
    width: 33px;
    height: 33px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 17px;
}

.btn-search-hilighted {
    border: .2em solid #c2dd67;
}

.right-items{
    float:right;
}
