body {
    background-color: #ebeee7;
}

.gap-top-sm {
    margin-top: 1%;
}

.gap-top-md {
    margin-top: 3%;
}

.gap-top-lg {
    margin-top: 5%;
}

.title-text-md{
    color: #3c425c;
    font-size: 22px;
}

.blue-bg1 {
    background: #909da5;
}

.olive-bg1{
    background: #c0bc8d;
}

.white-bg1{
    background: #f3f6f7;
}

.peach-bg1{
    background: #ffebb3;
}

.div-padding-sm {
    padding : 0.5%;
}

.btn-circle-sm {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-search-hilighted {
    border: .2em solid #d2e494;
}

.btn-search-on {
    border: .2em solid #fffd90;
}
