<div class="row gap-top-sm div-margin-sm">
    <div class="col-lg-4">
      <div class="card div-padding-md blue-bg1">
        <div class="gap-top-sm">
          <legend class="leg title-text-md" align="center">Licni podaci:</legend>
    
          <div class="row">
            <label class="col-lg-5 title-text-sm">Ime: </label>
            <p class="col-lg-7 title-text-sm">{{regUser.ime}}</p>
          </div>
    
          <div class="row">
            <label class="col-lg-5 title-text-sm">Prezime: </label>
            <p class="col-lg-7 title-text-sm">{{regUser.prezime}}</p>
          </div>
    
          <div class="row">
            <label class="col-lg-5 title-text-sm">Grad: </label>
            <p class="col-lg-7 title-text-sm">{{regUser.grad.naziv}}, {{regUser.grad.drzava.naziv}}</p>
          </div>
    
          <div class="row">
            <label class="col-lg-5 title-text-sm">Email: </label>
            <p class="col-lg-7 title-text-sm">{{regUser.email}}</p>
          </div>
    
        </div>
      </div>
    </div>
  
    <div class="col-lg-8">
  
      <div class="card blue-bg1">
        <ul class="nav nav-pills div-margin-sm" id="pills-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="tab1" data-toggle="pill" href="#transakcije" role="tab" aria-controls="tab1aria" aria-selected="true">Moje transakcije</a></li>
          <li class="nav-item"><a class="nav-link" id="tab2" data-toggle="pill" href="#casopisi" role="tab" aria-controls="tab2aria" aria-selected="false">Pretplate</a></li>
          <li class="nav-item"><a class="nav-link" id="tab3" data-toggle="pill" href="#izdanja" role="tab" aria-controls="tab3aria" aria-selected="false">Izdanja</a></li>
          <li class="nav-item"><a class="nav-link" id="tab4" data-toggle="pill" href="#radovi" role="tab" aria-controls="tab4aria" aria-selected="false">Radovi</a></li>
        </ul>
      </div>
  
      <div class="tab-content">
          <div class="tab-pane active" id="transakcije" role="tabpanel" aria-labelledby="tab1aria">
            TRANSAKCIJE
          </div>
  
          <div class="tab-pane" id="casopisi" role="tabpanel" aria-labelledby="tab2aria">
            PRETPLATE
          </div>
  
          <div class="tab-pane" id="izdanja" role="tabpanel" aria-labelledby="tab3aria">
            IZDANJA
          </div>

          <div class="tab-pane" id="radovi" role="tabpanel" aria-labelledby="tab4aria">
            RADOVI
          </div>
  </div>
</div>