.info-view {
    background: #f3f6f7;
}

label, p {
    color: #3c425c;
    font-size: 18px;
    font-weight: 600;
}

.set-center{
    margin-top: 5%;
    margin-left: 27%;
    margin-bottom: 2%;
}

.button-view{
    margin-top: 5%;
}

.komentar-panel{
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 250px;
    min-height: 250px;
    min-width: 700px;
    background: #ffffff;
}

.move-left{
    margin-left: 15%;
}

.move-left-sm {
    margin-left: 1%;
}