<div class="row gap-top-md">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 card blue-bg1">

    <div class="container">
      <form (ngSubmit) = "submitPaper()" role="form" name="newPaperForm" id="newPaperForm" #newPaperForm="ngForm">
        <fieldset>

        <legend class="leg title-text-md" align="center"><strong>Unesite podatke o radu</strong></legend>
    
        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <input type="text" class="form-control" name="naslov" id="naslov" placeholder="Naslov rada..." [(ngModel)]="paperForm.naslov" required maxlength="120" #naslov="ngModel">
              <div *ngIf="naslov.invalid && (naslov.dirty || naslov.touched)">
                  <span class = "error-message" *ngIf="naslov.errors.required">Obavezno unesite naslov rada</span>
                  <span class = "error-message" *ngIf="naslov.errors.maxlength">Naziv rada je previse dugacak</span>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <textarea class="form-control" rows="2" id="apstrakt" name="apstrakt" placeholder="Apstrakt..." [(ngModel)]="paperForm.apstrakt" required maxlength="1024" #apstrakt="ngModel"></textarea>
              <div *ngIf="apstrakt.invalid && (apstrakt.dirty || apstrakt.touched)">
                <span class = "error-message" *ngIf="apstrakt.errors.required">Obavezno unesite apstrakt</span>
                <span class = "error-message" *ngIf="apstrakt.errors.maxlength">Apstrakt je previse dugacak</span>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <textarea class="form-control" rows="2" id="kljucne" name="kljucne" placeholder="Kljucne reci..." [(ngModel)]="paperForm.kljucne" required maxlength="1024" #kljucne="ngModel"></textarea>
              <div *ngIf="kljucne.invalid && (kljucne.dirty || kljucne.touched)">              
                <span class = "error-message" *ngIf="kljucne.errors.required">Obavezno unesite kljucne reci</span>
                <span class = "error-message" *ngIf="kljucne.errors.maxlength">Kljucne reci su previse dugacke</span>
              </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-md-10 mx-auto">
            <button type="button" class="btn yellow-button btn-md" (click)="dodajKoautora()">Dodaj koautora</button>
          </div>
          
          <div class="col-md-10 row mx-auto gap-top-sm" *ngFor="let koautor of paperForm.koautori; let idx = index">
              <input type="text" class="col-md-2 form-control" [(ngModel)]="koautor.ime" placeholder="Ime..." name="{{'koautorIme'+idx}}"/>
              <input type="text" class="col-md-2 form-control gap-left-xxs" [(ngModel)]="koautor.prezime" placeholder="Prezime..." name="{{'koautorPrz'+idx}}"/>
              <input type="text" class="col-md-3 form-control gap-left-xxs" [(ngModel)]="koautor.adresa" placeholder="Adresa..." name="{{'koautorAdr'+idx}}"/>
              <input type="text" class="col-md-3 form-control gap-left-xxs" [(ngModel)]="koautor.email" placeholder="Email..." name="{{'koautorEmail'+idx}}"/>
              <button class="btn btn-danger btn-circle-md gap-left-xxs" (click)="removeKoautor(idx)"><i class="fas fa-minus"></i></button>
          </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <input type="file" accept=".pdf" style="display:none" (change)="onFileChanged($event)" #fileInput />
              <button type="button" class="btn yellow-button btn-md" (click)="fileInput.click()">Izaberite datoteku</button>
              <label *ngIf="paperForm.fajlovi"> {{paperForm.fajlovi.name}}</label>
              <label *ngIf="!paperForm.fajlovi"> &lt; vasa_datoteka.pdf &gt;</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="mx-auto col-lg-10">
                <label><b>Izaberite naucne oblasti:</b></label>
                <div class="scroll form-control">
                    <div *ngFor="let naucnaOblast of naucneOblasti; let idx = index;" [ngClass]="{'row-hilighted': paperForm.naucnaOblast.id === naucnaOblast.id}" (click)="selektujNO(idx)">
                      <p class="col-lg-10">{{naucnaOblast.naziv}}, {{naucnaOblast.kod}}</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-md-10 mx-auto">
            <button type="submit" class="logregBtn btn btn-light btn-md btn-block" name="submitPaperBtn" [disabled]="!newPaperForm.form.valid" >Posalji</button>
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
