<div class="row gap-top-md">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 card blue-bg1">

    <div class="container">
      <form [formGroup] = "paperForm" (ngSubmit) = "submitPaper(paperForm.value)">
        <fieldset>

        <legend class="leg title-text-md" align="center">Unesite podatke o radu</legend>
    
        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <input type="text" class="form-control" name="naslov" id="naslov" placeholder="Naslov rada..." formControlName="naslov">
              <span class = "error-message" *ngIf="paperForm.get('naslov').hasError('required') && paperForm.get('naslov').dirty">Obavezno unesite naslov rada</span>
              <span class = "error-message" *ngIf="paperForm.get('naslov').hasError('maxlength') && paperForm.get('naslov').dirty">Naziv rada je previse dugacak</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <textarea class="form-control" rows="2" id="apstrakt" name="apstrakt" placeholder="Apstrakt..." formControlName="apstrakt"></textarea>
              <span class = "error-message" *ngIf="paperForm.get('apstrakt').hasError('required') && paperForm.get('apstrakt').dirty">Obavezno unesite apstrakt</span>
              <span class = "error-message" *ngIf="paperForm.get('apstrakt').hasError('maxlength') && paperForm.get('apstrakt').dirty">Apstrakt je previse dugacak</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <textarea class="form-control" rows="2" id="kljucne" name="kljucne" placeholder="Kljucne reci..." formControlName="kljucne"></textarea>
              <span class = "error-message" *ngIf="paperForm.get('kljucne').hasError('required') && paperForm.get('kljucne').dirty">Obavezno unesite kljucne reci</span>
              <span class = "error-message" *ngIf="paperForm.get('kljucne').hasError('maxlength') && paperForm.get('kljucne').dirty">Kljucne reci su previse dugacke</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <textarea class="form-control" rows="2" id="koautori" name="koautori" placeholder="Koautori..." formControlName="koautori"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 mx-auto">
              <input type="file" accept=".pdf" style="display:none" (change)="onFileChanged($event)" #fileInput />
              <button type="button" class="btn btn-warning btn-md" (click)="fileInput.click()">Izaberite datoteku</button>
              <label *ngIf="file"> {{file.name}}</label>
              <label *ngIf="!file"> &lt; vasa_datotela.pdf &gt;</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="mx-auto col-lg-10">
                <label><b>Izaberite naucne oblasti:</b></label>
                <div class="scroll form-control">
                    <div *ngFor="let naucnaOblast of naucneOblasti">
                      <div class="row">
                          <input type="checkbox" class="col-lg-2 gap-top-xxs" />
                          <p class="col-lg-10">{{naucnaOblast.naziv}}</p>
                      </div> 
                  </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="mx-auto col-lg-10">
              <label><b>Izaberite recenzante:</b></label>
              <div class="scroll form-control">
                  <div *ngFor="let recenzent of recenzenti">
                    <div class="row">
                        <input type="checkbox" class="col-lg-2 gap-top-xxs" />
                        <p class="col-lg-10">{{recenzent.ime}} {{recenzent.prezime}}</p>
                    </div> 
                </div>
              </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-10 mx-auto">
            <button type="submit" class="logregBtn btn btn-light btn-md btn-block" name="submitPaperBtn" [disabled] = "!paperForm.valid">Posalji</button>
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
